@page "/"
@using TextNuvem.Service
@inject AuthService ServiceAuth
@inject NavigationManager Nav
@inject LocalStorageService LocalStorage
<PageTitle>Home</PageTitle>

<h1>Welcome to TextNuvem</h1>

<p>User @Email</p>
@code{
    private string Email;
    
    protected override async Task OnInitializedAsync()
    {
        if (!(await ServiceAuth.CustomerIsAuthentication()))
        {
            Nav.NavigateTo("/Customer/Login");
            return;
        }

        Email = await LocalStorage.GetEmail();
    }

}