@using TextNuvem.Service
@inherits LayoutComponentBase
@inject AuthService ServiceAuth
@inject NavigationManager Nav
@inject LocalStorageService LocalStorage

<div class="page" style="background-color: #F5F7FB">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>