@page "/"
@using TextNuvem.Dtos.Customers
@using TextNuvem.Service
@inject AuthService ServiceAuth
@inject NavigationManager Nav
@inject LocalStorageService LocalStorage
@inject IHttpClientFactory Factory
<PageTitle>Home</PageTitle>

<div class="dashboard">
    @if (!string.IsNullOrEmpty(_error))
    {
        <div class="alert alert-danger text-center">
            @_error
        </div>
    }
    else if (_dashBoard is null)
    {
        <div class="text-center mt-5">
            <div class="spinner-border"></div>
            <p class="mt-2">Carregando...</p>
        </div>
    }
    else
    {
            
            <div class="content container-fluid mt-4">

                <!-- WELCOME -->
                <div class="mb-4">
                    <h1>Welcome back, @_dashBoard.Name!</h1>
                    <p class="text-muted">Continue trabalhando nos seus projetos.</p>
                </div>

                <!-- CARDS -->
                <div class="row mb-4">
                    <div class="col-md-6 mb-2">
                        <div class="card gradient-blue d-flex justify-content-center align-items-center cursor-pointer">
                            <h5>Continue Projeto</h5>
                            <p>Última edição recente</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card gradient-purple d-flex justify-content-center align-items-center cursor-pointer">
                            <h5>Novo Projeto</h5>
                            <p>Criar algo novo</p>
                        </div>
                    </div>
                </div>

                <!-- LISTA -->
                <div class="card shadow-sm border-0 p-3">
                    <h5 class="mb-3">Projetos Recentes</h5>

                    @foreach (var project in _dashBoard.Projects)
                    {
                        <div class="project-item d-flex justify-content-around align-items-center">
                            <div>
                                <p class="text-black text-project">@project.Name</p><br />
                                <small class="text-muted">
                                    @project.LastUpdate.ToString("dd/MM/yyyy")
                                </small>
                            </div>

                            <button class="btn btn-primary btn-sm px-5">Abrir</button>
                        </div>
                    }
                </div>
            </div>
    }
</div>

@code{
    private string _error = string.Empty;
    private CustomerDashBoard? _dashBoard;
    
    protected override async Task OnInitializedAsync()
    {
        if (!(await ServiceAuth.CustomerIsAuthentication()))
        {
            Nav.NavigateTo("/Customer/Login");
            return;
        } 

        var id =await LocalStorage.GetCustomerId();
        
        var client = Factory.CreateClient("Api");
        
        var response = await client.GetAsync($"/Customer/DashBoard?CustomerId={id}");

        if (!response.IsSuccessStatusCode)
        {
            var error = await response.Content.ReadAsStringAsync();
            _error = error;
            return;
        }

        _dashBoard = await response.Content.ReadFromJsonAsync<CustomerDashBoard>();
    }

}