@page "/Customer/Login"
@using TextNuvem.Dtos.Customers
@using TextNuvem.Service
@inject NavigationManager Nav
@inject AuthService Service;

<div class="login-page">
    <div class="login-card">
        <div class="login-header">
            <h3>Welcome Back</h3>
            <p>Entre na sua conta</p>
        </div>

        <EditForm Model="_customer" OnValidSubmit="Handle" FormName="handle">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-4">
                <label for="email" class="form-label">Email</label>

                <InputText
                    id="email"
                    type="email"
                    class="form-control custom-input"
                    @bind-Value="_customer.Email" />
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Password</label>

                <InputText
                    id="password"
                    type="password"
                    class="form-control custom-input"
                    @bind-Value="_customer.Password" />
            </div>

            <button type="submit" class="btn login-btn w-100">
                Login
            </button>

        </EditForm>
        <div class="register-link">
            Não tem conta?
            <a href="/Customer/Register">Registrar</a>
        </div>
    </div>
</div>

@code 
{
    private CustomerLoginDto _customer { get; set; } = new();
    
    public async Task Handle()
    {
        var resultAuth = await Service.Login(_customer);
        if (!resultAuth.IsSuccess)
        {
            Nav.NavigateTo("/Customer/Login");
            return;
        }
        Nav.NavigateTo("/");
    }
}