@page "/Customer/Register"
@using TextNuvem.Dtos.Customers
@using TextNuvem.Service
@inject NavigationManager Nav
@inject AuthService Service;

<div class="login-page">
    <div class="login-card">

        <div class="login-header">
            <h3>Create Account</h3>
            <p>Crie sua conta para continuar</p>
        </div>

        <EditForm Model="_customer" OnValidSubmit="Handle" FormName="HandleRegister">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-4">
                <label for="name" class="form-label">Name</label>

                <InputText
                    id="name"
                    class="form-control custom-input"
                    @bind-Value="_customer.Name" />
            </div>

            <div class="mb-4">
                <label for="email" class="form-label">Email</label>

                <InputText
                    id="email"
                    type="email"
                    class="form-control custom-input"
                    @bind-Value="_customer.Email" />
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Password</label>

                <InputText
                    id="password"
                    type="password"
                    class="form-control custom-input"
                    @bind-Value="_customer.Password" />
            </div>

            <button type="submit" class="btn login-btn w-100">
                Register
            </button>

        </EditForm>

        <div class="register-link">
            Já tem conta?
            <a href="/Customer/Login">Login</a>
        </div>

    </div>
</div>

@code 
{
    private CustomerRegisterDto _customer { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if(await Service.CustomerIsAuthentication())
            Nav.NavigateTo("/");
    }

    public async Task Handle()
    {
        var result = await Service.Register(_customer);
        if (!result.IsSuccess)
        {
            Nav.NavigateTo("/Customer/Register");
            return;
        }
        Nav.NavigateTo("/");
    }
}