@page "/Customer/Register"
@using TextNuvem.Dtos.Customers
@using TextNuvem.Service
@inject NavigationManager Nav
@inject AuthService Service;

<h3>Register</h3>

<EditForm Model="_customer" OnInvalidSubmit="Handle" FormName="HandleRegister">
    
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="_customer.Name"/>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <InputText id="email" class="form-control" @bind-Value="_customer.Email"/>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <InputText id="password" class="form-control" @bind-Value="_customer.Password"/>
    </div>
    <button type="submit" class="btn-success" >Register </button>
    
</EditForm>

<a href="/Customer/Login" class="link-offset-1-hover link-secondary">Login</a>
@code 
{
    private CustomerRegisterDto _customer { get; set; } = new();
    
    public async Task Handle()
    {
        var result = await Service.Register(_customer);
        if (!result.IsSuccess)
        {
            Nav.NavigateTo("/Customer/Register");
            return;
        }
        Nav.NavigateTo("/");
    }
}